inst/extdata/AntennaCells_MNO1_dict.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="antennas">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="antenna" minOccurs="1" maxOccurs="unbounded">
				<xs:complexType>
					<xs:all>
						<xs:element name="Antenna ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Cell Coordinates" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
